<!-- <div>
    <ul class="heroes">
      <li *ngFor="let node of nodes" >
        <div class="hero-element">
          <div class="badge">{{node.key}}</div>
          <li *ngFor="let obj of node.items">{{obj | json}}</li>
  
        </div>
      </li>
    </ul>
</div>

<div>
  <ul class="heroes">
    <li *ngFor="let node of links" >
      <div class="hero-element">
        <div class="badge">{{node.from}}</div>
        <div class="badge">{{node.to}}</div>

      </div>
    </li>
  </ul>
</div> -->

<button (click)= "passdata()">send data to parent</button>